// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$main_c:linear-gradient(45deg,#6633ff,#cc00cc);
$bgc:white;
$footer_bgc:$bgc;
$font_c:#333333;
$area_border_c:#cccccc;
$grad_center_c:#971BE7;


$header_h:5.6rem;
$footer_h:5.6rem;

$form_wsz:85%;
$form_mxwsz:36rem;

$input_fz:1.6rem;
$input_hsz:4rem;
$input_py:($input_hsz - $input_fz)/4;
$input_px:$input_py*2;
$input_rsz:0.6rem;

$form_parts_my:2rem;

$btn_fz:1.6rem;
$btn_hsz:4rem;
$btn_rs:1rem;
$btn_py:0.6rem;
$btn_px:2rem;
$btn_my:2rem;
$btn_wsz:24rem;

$opacity:0.7;

$std_my:3rem;
$std_mx:2rem;
$std_py:3rem;
$std_px:1.6rem;

// 共通

html{
    font-size: 62.5%;
}

html,body{
    height: 100%;
}

body{
    background-color: white;
    position: relative;
}

$h1_fz:2.6rem;
$h2_fz:2.2rem;
$h3_fz:2.0rem;
$h4_fz:1.8rem;
$h5_fz:1.6rem;
$h6_fz:1.4rem;
$normal_fz:1.4rem;
$small_fz:1.2rem;

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

h1{
    font-size:$h1_fz;
}

h2{
    font-size:$h2_fz;
}

h3{
    font-size:$h3_fz;
}

h4{
    font-size:$h4_fz;
}

h5{
    font-size:$h5_fz;
}

h6{
    font-size:$h6_fz;
}

p,a{
    font-size:$normal_fz;
}

button,input,select,textarea,.button{
    font-family:inherit;
    font-size:100%;
}

ul{
    padding: 0;
    margin: 0;
    &>*{
        list-style: none;
    }
}

a{
    color: $font_c;
}

a:hover{
    color: $font_c;
    text-decoration: none;
    opacity:$opacity;
}

a:hover>*,button:hover,.button:hover{
    opacity:$opacity;
}

a:visited{
    color: $font_c;
}

.scroll-prevent{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#header{
    background: $main_c;
    display: flex;
    justify-content: space-between;
    height: $header_h;
    width: 100%;
    padding: 0 2.4rem;
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 1000;
    >*{
        line-height: $header_h;
    }
    #logo{
        font-size: 3rem;
        color: white;
    }
}

footer{
    background: white;
    text-align: center;
    height: $footer_h;
    position: fixed;
    line-height: $footer_h;
    bottom: 0;
    width: 100%;
    z-index: 999;
    box-shadow:0 -0.2rem 0.4rem #eee;
    ul{
        display: flex;
        list-style: none;
        padding: 0;
    }
    li{
        &:hover{
            background: $main_c;
        }
    }
    a{
        width: 25%;
    }
    p{
        font-size: 2.4rem;
        background: $main_c;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255,255,255,0.0);
        color: #cc00cc;
        &:hover{
            background: white;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(255,255,255,0.0);
            color: #cc00cc;
        }
    }
    .selected_li{
        background: $main_c;
        p{
            background: white;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(255,255,255,0.0);
            color: #cc00cc;
        }
    }
}

.btns{
    text-align : center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button,.button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    font-size:$btn_fz;
    background: $main_c;
    color: #fff;
    border-radius: $btn_rs;
    padding:$btn_py $btn_px;
    min-width: $btn_wsz;
}

button:hover,.button:hover{
    opacity:$opacity;
}

.reverse_btn{
    background: white;
    border: 0.1rem solid $grad_center_c;
    color:$grad_center_c;
}

.normal_section{
    padding: $std_py $std_px $std_my+$footer_h;;
    min-width: 36rem;
    h1{
        text-align: center;
        margin-bottom: 3rem;
    }
}

.center_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents{
    margin: $header_h 0 $footer_h;
}

.msg_box{
    margin: $std_my+$header_h $std_mx $std_my;
    font-size: $normal_fz;
    max-width: 76.8rem;
    button{
        height: 100%;
        line-height: 100%;
        font-size: $normal_fz;
        min-width: 0;
        background: none;
    }
}

//form

input,select,button,.button,*:focus,*:active,button:focus,.button:focus{
    outline: 0;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: $form_mxwsz;
    &>ul{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.input_form{
    width: $form_wsz;
}

input,select{
    height: $input_hsz;
}

input,select,textarea{
    border:1px solid $area_border_c;
    background:white;
    width: 100%;
    border-radius: $input_rsz;
    padding: $input_py $input_px;
    font-size: $input_fz;
}

.inputs{
    margin-bottom: 1rem;
}

label{
    color: $font_c;
    font-size: $normal_fz;
    margin: 0.5rem 0 0;
}

.input_parts{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    #image{
        border:none;
    }
}

.radio_parts,.input_parts{
    margin-bottom: $form_parts_my;
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
    & a{
        text-decoration: underline;
    }
    margin-bottom: $std_my;
}

.checkbtn{
    width: $normal_fz;
    height:$normal_fz;
    margin-right: 1rem;
}

.radiobtns_label{
    margin-top: 5px;
    font-size: 14px;
    text-align: left;
}

.radiobtns{
    display: flex;
    justify-content: space-between;
}
.radio{
    display: flex;
    justify-content: center;
    align-items: center;
    & a{
        text-decoration: underline;
    }
}

.radiobtn{
    width: $normal_fz;
    height:$normal_fz;
    margin-right: 1rem;
}

.form_requires{
    color: red;
}

.file_input{
    border: none;
}

.preview_user_icon{
    margin-top: 0.5rem;
    .user_icon{
        width: 24rem;
        height: 24rem;
        position: relative;
        margin: 0 auto $std_my;
        &:before {
            content: "";
            display: block;
            padding-top: 100%;
        }
        & img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            top: 0;
            object-fit: cover;
        }
    }
}

.music_box{
    display: flex;
    .play_btn{
        line-height: 6rem;
        font-size: 4rem;
        background: $main_c;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255,255,255,0.0);
        color: #cc00cc;
        margin-right: 2rem;
        &:hover{
            cursor: pointer;
        }
    }
    .music_{
        &infos{
        display: flex;
        margin-right: auto;
        }
        &artwork{
            width: 6rem;
            height: 6rem;
            object-fit: cover;
        }
        &text_infos{
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
        }
        &title{
            font-size: 1.4rem;
        }
        &artist{
            font-size: 1.1rem;
        }
        &itunes_url>a{
            font-size: 1rem;
            text-decoration: underline;
            font-size: 1rem;
        }
    }
}

#my_music_parts{
    margin-bottom: 2rem;
}

.my_music_box{
    margin-bottom: 2rem;
}

.search_inputs{
    max-width: 36rem;
    margin: 0 auto 2rem;
}
.search_input_parts{
    display: flex;
    .search_input{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 80%;
    }
    .search_input_btns{
        width: 20%;
        height: $input_hsz;
        background: $main_c;
        color: white;
        font-size: 3rem;
        border-top-right-radius: $btn_rs;
        border-bottom-right-radius: $btn_rs;
        &:hover{
            cursor: pointer;
        }
        >p{
            text-align: center;
            line-height: $input_hsz;
        }
    }
}
.music_remove_btn{
    width: 3rem;
    height: 3rem;
    margin-bottom: auto;
    font-size: 3rem;
    &:hover{
        cursor: pointer;
    }
}

.pagination{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    .page-link{
        display: block;
    }
    .page-item{
        border: 0.1rem solid #cc00cc;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        position: relative;
        background-color: white;
        >.page-link{
            background: $main_c;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(255,255,255,0.0);
            color: #cc00cc;
            line-height: 3rem;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .active{
        background: $main_c;
        >.page-link{
            color: white;
            -webkit-text-fill-color: white;
        }
    }
    .disabled{
        background-color: #EEE;
        border: 0.1rem solid #AAA;
        >.page-link{
            color: #888;
        }
    }
    .page-arrow-item{
        border-radius: 10%;
        height: 3rem;
        width: 4.8rem;
        line-height: 3rem;
        background: $main_c;
        >.page-link{
            color: white;
        }
        &:last-child.disabled,&:first-child.disabled{
            background: none;
            background-color: #EEE;
            border: 0.1rem solid #AAA;
            >.page-link{
                color: #888;
            }
        }
    }
}

.result_label{
    font-size: 1.8rem;
}

.result_lists{
    margin-bottom: 2rem;
}

.result_list{
    border-bottom: 1px solid $area_border_c;
    padding: 0.6rem 0;
    &:hover{
        cursor: pointer;
        opacity: $opacity;
    }
    &:first-child{
        border-top: 1px solid $area_border_c;
    }
    .result_list_title{
        font-size: 1.8rem;
    }
    .result_list_artist{
        font-size: 1.2rem;
    }
}

#login{
    .check{
        margin-bottom: 2rem;
    }
    .btns{
        margin-bottom: 2rem;
    }
    .login_nav{
        text-decoration: underline;
        font-size: $small_fz;
        text-align: center;
        &>li:nth-of-type(n+2){
            margin-top: 0.6rem;
        }
    }
}

//ユーザーページ
.user_detail_icon{
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#user_detail{
    height: 100%;
    min-height: calc(100vh - #{$header_h} - #{$footer_h});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .my_music_box{
        margin-bottom: 4rem;
        padding-right: 6rem;
    }
    .profile_infos{
        width: 80%;
        max-width: 64rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 2rem;
            margin-bottom: 1rem;
            text-align: center;
        }
        h2{
            font-size: 1.4rem;
            margin-bottom: 1rem;
            text-align: center;
        }
        h3{
            font-size: 1.2rem;
        }
        .profile_text_infos{
            margin-bottom: 2rem;
        }
        .btns{
            margin-bottom: 4rem;
        }
    }
    .btns{
        margin-bottom: 2rem;
    }
    .not_set_my_music_text{
        text-align: center;
        margin-bottom: 2rem;
        a{
            text-decoration: underline;
        }
    }
}

#edit_mypage{
    .edit_profile_form_parts{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        max-width: $form_mxwsz;
        width: $form_wsz;
        text-align: left;
        .my_music_label{
            margin-bottom: 0.4rem;
        }
    }
}

#create_post{
    width: 100%;
    max-width: 46rem;
    margin: 0 auto;
    .btns{
        padding-bottom: $std_py;
    }
    #post_img_preview{
        width: 100%;
        padding-top: 75%;
        position: relative;
        margin-bottom: 2rem;
        >img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            border-radius:2%;
        }
    }
}
#showed_img_bg{
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,$opacity);
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showed_img{
    width: 80%;
    max-width: 60rem;
    max-height: calc(100% - $header_h - $footer_h - $std_mx*2);
    object-fit: cover;
}

.posts{
        border-top: 1px solid $area_border_c;
        padding-bottom: $footer_h;
        width: 100%;
        // max-width: 56rem;//仮
}
.post{
        border-bottom: 1px solid $area_border_c;
        display: flex;
        padding: $std_px;
        &_icon{
            width: 5rem;
            height: 5rem;
            img{
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
        }
    }
    &_texts{
            margin-left: 1rem;
            width: 100%;
    }
    &_contents{
            margin-bottom: 1rem;
    }
    &_img_box{
            // width: 100%;
            // padding-top: 75%;
            width: 40rem;
            height: 30rem;
            position: relative;
            margin-bottom: 1rem;
    }
    &_img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            border-radius:2%;
    }
    .music_box{
            margin-bottom: 1rem;
    }
    &_music_spinner{
            font-size: 4rem;
            line-height: 6rem;
    }
    .post_action_btns{
            display: flex;
            flex-direction: row-reverse;//仮
            // justify-content: space-between;
            margin-top: 1.6rem;
            >p{
                color: gray;
                >a{
                    font-size: 2rem;
            }
        }
    }
}

#create_post{
    #post_media_btns{
        display: flex;
        margin-bottom: 1rem;
        >*{
            margin: 0;
            &:hover{
                opacity:$opacity;
                cursor: pointer;
            }
            >p{
                font-size: 2.4rem;
                padding-right: 1.6rem;
                display: inline-block;
                background: none;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color:gray;
                color: gray;
            }
            >.active_media{
                background: $main_c;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(255,255,255,0.0);
                color: #cc00cc;
            }
        }
    }
    #post_file_input{
        display: none;
    }
    #post_medias{
        margin-bottom: 1rem;
    }
    #music_search_parts{
        max-width: 40rem;
        margin: 0 auto 3rem;
    }
    #post_music_preview_parts{
        margin-bottom: 2rem;
    }
}

#create_post_form{
    width: 100%;
    max-width: 46rem;
    margin: 0 auto;
    padding-top: $std_py;
    text-align: left;
}

@media screen and (min-width:480px) { //横画面
}
@media screen and (min-width:768px) and ( max-width:960px) {
    .msg_box{
        margin: $std_my+$header_h auto $std_my;
    }
}
@media screen and (min-width:960px) {
    .msg_box{
        margin: $std_my+$header_h auto $std_my;
    }
}
